.Newshop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background-image:linear-gradient(to right , #00bbf9be,#33003d54 ) ;
}
.newbox{
   /* border: 2px solid black; */
  height: 440px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-newimg{
  /* background-image: url("https://m.media-amazon.com/images/I/41mWz2aRrTL._SY695_.jpg"); */
  background-size: cover;
  object-fit: cover;
  height: 250px;
  width: 200px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.box-newcontent{
  margin-right: 1rem;
  margin-left: 1rem;
  height: 150px;

}
.box-newcontent p{
  color: black;
}
.butt{
  margin-left: 7rem;
  position: absolute;
display: flex;
}